@font-face {
    font-family: "iconfont";
    /* Project id 4089165 */
    src: url('//at.alicdn.com/t/c/font_4089165_ckvkobt1kwo.woff2?t=1690864942923') format('woff2'),
        url('//at.alicdn.com/t/c/font_4089165_ckvkobt1kwo.woff?t=1690864942923') format('woff'),
        url('//at.alicdn.com/t/c/font_4089165_ckvkobt1kwo.ttf?t=1690864942923') format('truetype'),
        url('//at.alicdn.com/t/c/font_4089165_ckvkobt1kwo.svg?t=1690864942923#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e602";
}

.icon-menu:before {
    content: "\e609";
}

.icon-Search:before {
    content: "\e62c";
}

.icon-left:before {
    content: "\e85c";
}

.icon-right:before {
    content: "\e877";
}

.icon-guizeguanli:before {
    content: "\e663";
}

.icon-message-language:before {
    content: "\e82e";
}